<!-- Spinner Start -->
<!-- <div id="spinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
</div> -->
<!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid bg-dark text-light px-0 py-2">
  <div class="row gx-0 d-none d-lg-flex">
    <div class="col-lg-7 px-5 text-start">
      <div class="h-100 d-inline-flex align-items-center me-4">
        <span class="fa fa-phone-alt me-2"></span>
        <span>+51 939236550</span>
      </div>
      <div class="h-100 d-inline-flex align-items-center">
        <span class="far fa-envelope me-2"></span>
        <span>ecopointsISIL@gmail.com</span>
      </div>
    </div>
    <div class="col-lg-5 px-5 text-end">
      <div class="h-100 d-inline-flex align-items-center mx-n2">
        <span>Follow Us:</span>
        <a class="btn btn-link text-light" href=""><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-link text-light" href=""><i class="fab fa-twitter"></i></a>
        <a class="btn btn-link text-light" href=""><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-link text-light" href=""><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->
