
<app-main-banner></app-main-banner>
<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-end">
      <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.1s">
        <img class="img-fluid rounded" data-wow-delay="0.1s" src="assets/img/about.jpg">
      </div>
      <div class="col-lg-6 col-md-7 wow fadeInUp" data-wow-delay="0.3s">
        <h1 class="display-1 text-primary mb-0">Motivacion de reciclaje</h1>
        <p class="text-primary mb-4">Siguenos hacia un futuro mejor</p>
        <h1 class="display-5 mb-4">Acerca de EcoPoints</h1>
        <p class="mb-4">EcoPoints es una aplicación que te permite acumular puntos cada vez que recicles.
          Con la cantidad de puntos que acumules, podrás canjear una variedad de recompensas, como
          descuentos en tiendas y restaurantes locales, cupones de descuento para servicios en línea, y
          mucho más.</p>
        <p>Además de ser una forma divertida de motivarte a reciclar, EcoPoints también contribuye a crear
          un mundo más limpio y saludable. Al reciclar, estás reduciendo la cantidad de desechos que
          terminan en los vertederos, ayudando a conservar los recursos naturales y reduciendo la
          contaminación del aire y el agua.
        </p>
        <a class="btn btn-primary py-3 px-4" href="">Descubre Mas</a>
      </div>
      <div class="col-lg-3 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
        <div class="row g-5">
          <div class="col-12 col-sm-6 col-lg-12">
            <div class="border-start ps-4">
              <i class="fa fa-award fa-3x text-primary mb-3"></i>
              <h4 class="mb-3">Esfuerzate por premios</h4>
              <span>Mientras mas te dediques a ayudar al medio ambiente y reciclar, mas puntos conseguiras</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-12">
            <div class="border-start ps-4">
              <i class="fa fa-users fa-3x text-primary mb-3"></i>
              <h4 class="mb-3">Trabaja en equipo</h4>
              <span>Mientras mas personas se unan a esta causa y mas personas te ayuden, sera mas rapido conseguir
                puntos, RECOMIENDANOS CON TUS AMIGOS</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Facts Start -->
<div class="container-fluid facts my-5 py-5" data-parallax="scroll" data-image-src="assets/img/carousel-1.jpg">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
        <h1 class="display-4 text-white" data-toggle="counter-up">Paso 1</h1>
        <span class="fs-5 fw-semi-bold text-light">Ve a LOGIN y crea tu cuenta</span>
      </div>
      <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
        <h1 class="display-4 text-white" data-toggle="counter-up">Paso 2</h1>
        <span class="fs-5 fw-semi-bold text-light">Empieza a reciclar</span>
      </div>
      <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
        <h1 class="display-4 text-white" data-toggle="counter-up">Paso 3</h1>
        <span class="fs-5 fw-semi-bold text-light">Reclama tus puntos y </span>
      </div>
      <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
        <h1 class="display-4 text-white" data-toggle="counter-up">Paso 4</h1>
        <span class="fs-5 fw-semi-bold text-light">Canjea tus recompensas!</span>
      </div>
    </div>
  </div>
</div>
<!-- Facts End -->

<!-- Features Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p class="fs-5 fw-bold text-primary">Porque queremos cambiarlo!</p>
        <h1 class="display-5 mb-4">Existen muchas Razones para cambiar!</h1>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita
          erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
        <a class="btn btn-primary py-3 px-4" href="">Descrubre mas</a>
      </div>
      <div class="col-lg-6">
        <div class="row g-4 align-items-center">
          <div class="col-md-6">
            <div class="row g-4">
              <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                  <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-check fa-3x text-primary"></i>
                  </div>
                  <h4 class="mb-0">100% Ecoamigable</h4>
                </div>
              </div>
              <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                  <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-users fa-3x text-primary"></i>
                  </div>
                  <h4 class="mb-0">Equipo Dedicado</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
            <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
              <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                <i class="fa fa-tools fa-3x text-primary"></i>
              </div>
              <h4 class="mb-0">Soporte 24/7</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->


<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="fs-5 fw-bold text-primary">Nuestros Servicios</p>
      <h1 class="display-5 mb-5">Services That We Offer For You</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="assets/img/service-1.jpg" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="assets/img/icon/icon-3.png" alt="Icon">
            </div>
            <h4 class="mb-3">Landscaping</h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-primary me-2"></i>Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="assets/img/service-2.jpg" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="assets/img/icon/icon-6.png" alt="Icon">
            </div>
            <h4 class="mb-3">Pruning plants</h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-primary me-2"></i>Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="assets/img/icon/icon-5.png" alt="Icon">
            </div>
            <h4 class="mb-3">Irrigation & Drainage</h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-primary me-2"></i>Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="assets/img/service-4.jpg" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="assets/img/icon/icon-4.png" alt="Icon">
            </div>
            <h4 class="mb-3">Garden Maintenance </h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-primary me-2"></i>Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="assets/img/service-5.jpg" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="assets/img/icon/icon-8.png" alt="Icon">
            </div>
            <h4 class="mb-3">Green Technology</h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-primary me-2"></i>Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="assets/img/service-6.jpg" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="assets/img/icon/icon-2.png" alt="Icon">
            </div>
            <h4 class="mb-3">Urban Gardening</h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-primary me-2"></i>Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->


<!-- Quote Start -->
<!-- <div class="container-fluid quote my-5 py-5" data-parallax="scroll" data-image-src="assets/img/carousel-2.jpg">
      <div class="container py-5">
          <div class="row justify-content-center">
              <div class="col-lg-7">
                  <div class="bg-white rounded p-4 p-sm-5 wow fadeIn" data-wow-delay="0.5s">
                      <h1 class="display-5 text-center mb-5">Get A Free Quote</h1>
                      <div class="row g-3">
                          <div class="col-sm-6">
                              <div class="form-floating">
                                  <input type="text" class="form-control bg-light border-0" id="gname" placeholder="Gurdian Name">
                                  <label for="gname">Your Name</label>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-floating">
                                  <input type="email" class="form-control bg-light border-0" id="gmail" placeholder="Gurdian Email">
                                  <label for="gmail">Your Email</label>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-floating">
                                  <input type="text" class="form-control bg-light border-0" id="cname" placeholder="Child Name">
                                  <label for="cname">Your Mobile</label>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-floating">
                                  <input type="text" class="form-control bg-light border-0" id="cage" placeholder="Child Age">
                                  <label for="cage">Service Type</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="form-floating">
                                  <textarea class="form-control bg-light border-0" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                  <label for="message">Message</label>
                              </div>
                          </div>
                          <div class="col-12 text-center">
                              <button class="btn btn-primary py-3 px-4" type="submit">Submit Now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
<!-- Quote End -->


<!-- Projects Start -->
<!-- <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
              <p class="fs-5 fw-bold text-primary">Our Projects</p>
              <h1 class="display-5 mb-5">Some Of Our Wonderful Projects</h1>
          </div>
          <div class="row wow fadeInUp" data-wow-delay="0.3s">
              <div class="col-12 text-center">
                  <ul class="list-inline rounded mb-5" id="portfolio-flters">
                      <li class="mx-2 active" data-filter="*">All</li>
                      <li class="mx-2" data-filter=".first">Complete Projects</li>
                      <li class="mx-2" data-filter=".second">Ongoing Projects</li>
                  </ul>
              </div>
          </div>
          <div class="row g-4 portfolio-container">
              <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                  <div class="portfolio-inner rounded">
                      <img class="img-fluid" src="assets/img/service-1.jpg" alt="">
                      <div class="portfolio-text">
                          <h4 class="text-white mb-4">Landscaping</h4>
                          <div class="d-flex">
                              <a class="btn btn-lg-square rounded-circle mx-2" href="assets/img/service-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                  <div class="portfolio-inner rounded">
                      <img class="img-fluid" src="assets/img/service-2.jpg" alt="">
                      <div class="portfolio-text">
                          <h4 class="text-white mb-4">Pruning plants</h4>
                          <div class="d-flex">
                              <a class="btn btn-lg-square rounded-circle mx-2" href="assets/img/service-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                  <div class="portfolio-inner rounded">
                      <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
                      <div class="portfolio-text">
                          <h4 class="text-white mb-4">Irrigation & Drainage</h4>
                          <div class="d-flex">
                              <a class="btn btn-lg-square rounded-circle mx-2" href="assets/img/service-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                  <div class="portfolio-inner rounded">
                      <img class="img-fluid" src="assets/img/service-4.jpg" alt="">
                      <div class="portfolio-text">
                          <h4 class="text-white mb-4">Garden Maintenance</h4>
                          <div class="d-flex">
                              <a class="btn btn-lg-square rounded-circle mx-2" href="assets/img/service-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">
                  <div class="portfolio-inner rounded">
                      <img class="img-fluid" src="assets/img/service-5.jpg" alt="">
                      <div class="portfolio-text">
                          <h4 class="text-white mb-4">Green Technology</h4>
                          <div class="d-flex">
                              <a class="btn btn-lg-square rounded-circle mx-2" href="assets/img/service-5.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                  <div class="portfolio-inner rounded">
                      <img class="img-fluid" src="assets/img/service-6.jpg" alt="">
                      <div class="portfolio-text">
                          <h4 class="text-white mb-4">Urban Gardening</h4>
                          <div class="d-flex">
                              <a class="btn btn-lg-square rounded-circle mx-2" href="assets/img/service-6.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
<!-- Projects End -->
