<!DOCTYPE html>
<html lang="en">


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container text-center py-5">
    <h1 class="display-3 text-white mb-4 animated slideInDown">Contact Us</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      
        <li class="breadcrumb-item active" aria-current="page">Contacto</li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <p class="fs-5 fw-bold text-primary">Contactanos</p>
        <h1 class="display-5 mb-5">Si tiene alguna consulta, por favor contactenos</h1>

        <form class="contacto-form">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Tu Nombre">
                <label for="name">Tu Nombre</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder="Tu Email">
                <label for="email">Tu Email</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input type="text" class="form-control" id="subject" placeholder="Razon">
                <label for="subject">Razon</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Deja tu mensaje aqui" id="message"
                  style="height: 100px"></textarea>
                <label for="message">Mensaje</label>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-success py-3 px-4" type="submit">Enviar Mensaje</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 450px;">
        <div class="position-relative rounded overflow-hidden h-100">
          <iframe class="position-relative w-100 h-100"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8059951899627!2d-77.02702498518663!3d-12.125422691414924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c81c605ea5e1%3A0x17328a8b49d37914!2sISIL%20-%20Miraflores!5e0!3m2!1ses-419!2spe!4v1684975625223!5m2!1ses-419!2spe"
            frameborder="0" style="min-height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->


</html>
